
<style>
    .col-md-4 {
        margin: auto;
        width: 100%;
        border: 2px double #f2e009;
        padding: 10px;
        }
    </style>
  
  <style>
    .container {
        margin: auto;
        width: 100%;
        background-color: #78c7ff;
        padding: 10px;
        }
    </style>
  
  <style>
    .col-sm-12 {
        margin: auto;
        width: 100%;
        background-color: #f2e009;
        padding: 10px;
        }
    </style>


<div class="row">
	
    <div class="col-md-4">
      <label class="col-form-label mt-4" for="inputDefault"><p class="text-warning" style="font-size:120%; text-align:center;">Oprima el boton para mostrar el codigo del checking</p></label>
    <div class="card">
    <div class="card_body">

<div class="container">
    <table class="table table-border table-striped">
        <thead>
            <tr>
                <th>Guardar este codigo para el checkout</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let id_checkinsg of listadechecking'>
                <td><span>{{id_checkinsg.id}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
<button class="btn btn-outline-warning" style="margin:auto; width: 100%;" (click)="checkingetall()">Mostrar Codigo</button>
