<section class="content">
  <div class="container-fluid">
    <div class="row">
    
      <!-- <div class="col-sm-3 mt-5"> -->
          <div id="list-example" class="list-group col-sm-3 mt-5">
              <a 	class="list-group-item list-group-item-action" routerLink="/paquetes" class="btn btn-outline-warning">
                Todo incluido
              </a>
              <a 	class="list-group-item list-group-item-action" routerLink="/paquetes" class="btn btn-outline-warning">
                Pet Friendly
              </a>
              <a 	class="list-group-item list-group-item-action" routerLink="/paquetes" class="btn btn-outline-warning">
                Noche de amigos
              </a>
              <a 	class="list-group-item list-group-item-action" routerLink="/vistapaquetepropio" class="btn btn-outline-warning">
                Crea tu propio paquete
               </a>
          </div>
          <!-- </div> -->

      <!-- Contenido de la pagina principal -->
            <div id="pac-item-1" class="col-sm-9 border-0 shadow-lg" >
              <!-- botones de menu -->
              <div class="menu-btn-hab mb-5 sm-2">
                    <button type="button" class="btn btn-warning col-md-4 " onclick="location.href='/Creatupropiopaquete'">CREAR PAQUETE DE SERVICIOS</button>
              </div>
              <div class="c1">
              <table class="table-borderless table">
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" indeterminate>
                      <label class="form-check-label text-uppercase lead" for="defaultCheck1">
                      </label>
                      </div>
                  </td>
                  <td>
                    <a href="/vistapaquetepropio">
                      <i class="fas fa-hotel fa-4x"></i>
                    </a>
                  </td>
                  <td>
                  <p>Estamos acondicionados para otorgar servicios de alojamiento y hospedaje a las personas o grupo de personas.</p>
                  </td>
                  <td>
                  <p>El precio del servico es: Q200</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" indeterminate>
                      <label class="form-check-label text-uppercase lead" for="defaultCheck1">
                      </label>
                      </div>
                  </td>
                  <td>
                    <a href="/vistapaquetepropio">
                      <i class="fas fa-utensils fa-4x"></i>
                  </a>
                  </td>
                  <td>
                  <p>Comida servida o bufé, dispuesta junto con su cubertería. Proporcionando al comensal elegir libremente la cantidad y el detalle de los alimentos.</p>
                  </td>
                  <td>
                  <p>El precio del servico es: Q200</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" indeterminate>
                      <label class="form-check-label text-uppercase lead" for="defaultCheck1">
                      </label>
                      </div>
                  </td>
                  <td>
                    <a href="/vistapaquetepropio">
                      <i class="fas fa-bed fa-4x"></i>
                  </a>
                  </td>
                  <td>
                  <p> Masaje,terapia manual destinada a mejorar el bienestar de la persona promoviendo la relajación, el bienestar de la persona y como actividad recreativa.</p>
                  </td>
                  <td>
                  <p>El precio del servico es: Q200</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" indeterminate>
                      <label class="form-check-label text-uppercase lead" for="defaultCheck1">
                      </label>
                      </div>
                  </td>
                  <td>
                    <a href="/vistapaquetepropio">
                      <i class="fas fa-coffee fa-4x"></i>
                  </a>
                  </td>
                  <td>
                  <p>Barra libre un servicio adicional. El pago de los artículos consumidos (bebidas, aperitivos) se realiza al finalizar tu estancia, cuando realiza el check-out.</p>
                  </td>
                  <td>
                  <p>El precio del servico es: Q200</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" indeterminate>
                      <label class="form-check-label text-uppercase lead" for="defaultCheck1">
                      </label>
                      </div>
                  </td>
                  <td>
                    <a href="/vistapaquetepropio">
                      <i class="fas fa-wheelchair fa-4x"></i>
                  </a>
                  </td>
                  <td>
                  <p>A través de nuestros servicios de habitaciones asistidas y especializadas, proporcionamos a las personas con discapacidades cuidados personales y asistencia especializada.</p>
                  </td>
                  <td>
                  <p>El precio del servico es: Q200</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" indeterminate>
                      <label class="form-check-label text-uppercase lead" for="defaultCheck1">
                      </label>
                      </div>
                  </td>
                  <td>
                    <a href="/vistapaquetepropio">
                      <i class="fas fa-clinic-medical fa-4x"></i>
                  </a>
                  </td>
                  <td>
                  <p>Otorgamos atención médica a quienes sufran alguna lesión o enfermedad durante su permanencia en el hotel, las lesiones o padecimientos seran tratadas para lograr la estabilización de la persona.</p>
                  </td>
                  <td>
                  <p>El precio del servico es: Q200</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" indeterminate>
                      <label class="form-check-label text-uppercase lead" for="defaultCheck1">
                      </label>
                      </div>
                  </td>
                  <td>
                    <a href="/vistapaquetepropio">
                      <i class="fas fa-paw fa-4x"></i>
                  </a>
                  </td>
                  <td>
                  <p>Ofrecemos el servicio de Pet Friendly esto significa que el hotel permite el ingreso de personas en compañía de sus mascotas.</p>
                  </td>
                  <td>
                  <p>El precio del servico es: Q200</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" indeterminate>
                      <label class="form-check-label text-uppercase lead" for="defaultCheck1">
                      </label>
                      </div>
                  </td>
                  <td>
                    <a href="/vistapaquetepropio">
                      <i class="fab fa-paypal fa-4x"></i> 
                  </a>
                  </td>
                  <td>
                  <p>Al efectuar el pago los clientes pueden pagar por medio de PayPal o en efectivo.</p>
                  </td>
                  <td>
                  <p>El precio del servico es: Q200</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" indeterminate>
                      <label class="form-check-label text-uppercase lead" for="defaultCheck1">
                      </label>
                      </div>
                  </td>
                  <td>
                    <a href="/vistapaquetepropio">
                      <i class="fas fa-ship fa-4x"></i>
                  </a>
                  </td>
                  <td>
                  <p>Yate privado que cuenta con la capacidad de cuatro a seis tripulantes, bebidas de cortecia, botanas, equipo de snorkel.</p>
                  </td>
                  <td>
                  <p>El precio del servico es: Q200</p>
                  </td>
                </tr>
            </table>
            </div>

            </div>  
    </div>


  </div>
</section>
