
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a routerLink="/inicio" href="#"><img src="https://pa1.narvii.com/7594/869f9cac6432bd93b61a2d53457d02cdcfc03a5dr1-180-90_00.gif"  /></a>
          <a class="navbar-brand" href="#"><h6>     </h6></a>
          <a class="navbar-brand" routerLink="/inicio" href="#"><h1 style = "font-family:Abadi Extra Light,Calibri,Lao UI;">Hotel MOA</h1><h6>Moments Of Always</h6></a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=" "> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/sucursales" routerLinkActive="active"><h5>Sucursales</h5></a> {{ '' // aqui cambiamos por el nombre de la tabla }}
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/paquetes" routerLinkActive="active"><h5>Paquetes</h5></a> {{ '' // aqui cambiamos por el nombre de la tabla }}
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/servicios" routerLinkActive="active"><h5>Servicios</h5></a> {{ '' // aqui cambiamos por el nombre de la tabla }}
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/habitaciones" routerLinkActive="active"><h5>Habitaciones</h5></a> {{ '' // aqui cambiamos por el nombre de la tabla }}
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/Creatupropiopaquete" routerLinkActive="active"><h5>Crea tu propio paquete</h5></a> {{ '' // aqui cambiamos por el nombre de la tabla }}
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/insertarreserva" routerLinkActive="active"><h5>Reserva ya</h5></a> {{ '' // aqui cambiamos por el nombre de la tabla }}
              </li>
            </ul>
            
          </div>
        </div>
      </nav>


      <div #paypal>  
    
     


<div class="content-wrapper pt-4">
<router-outlet></router-outlet>
</div>