<section class="content">
  <div class="container-fluid">
    <div class="row">
    
      <!-- <div class="col-sm-3 mt-5"> -->
          <div id="list-example" class="list-group col-sm-3 mt-5">
              <a 	class="list-group-item list-group-item-action" routerLink="/paquetes" class="btn btn-outline-warning">
                Todo incluido
              </a>
              <a 	class="list-group-item list-group-item-action" routerLink="/paquetes" class="btn btn-outline-warning">
                Pet Friendly
              </a>
              <a 	class="list-group-item list-group-item-action" routerLink="/paquetes" class="btn btn-outline-warning">
                Noche de amigos
              </a>
              <a 	class="list-group-item list-group-item-action" routerLink="/vistapaquetepropio" class="btn btn-outline-warning">
                Crea tu propio paquete 
               </a>
          </div>
          <!-- </div> -->

      <!-- Contenido de la pagina principal -->
            <div id="pac-item-1" class="col-sm-9 border-0 shadow-lg" >
              <!-- botones de menu -->
              <div class="menu-btn-hab mb-5 sm-2">
                    <button type="button" class="btn btn-primary col-md-4 " onclick="location.href='/insertarreserva'">Reserva ya</button>  
              </div>  

              
              <div class="datos ml-2 text-center" style="max-width: 100rem;">
                <label style="text-align:center; vertical-align:middle" id="nombre-serv" for="precio-serv"> Paquete noche de amigos precio por noche
              <Label style="text-align:center; vertical-align:middle" id="precio-serv" class="datos ml-2 text-center">Q 1,600.00</Label>
                </label>
                <br>
                <br>
              <Label style="text-align:left; vertical-align:middle" id="nombre-serv" class="d-block">El paquete incluye:</Label>
            </div>
            <br>
            <br>
          <div id="c1"></div>
          <div id="c2">
            <table class="table-borderless table">
              <tr>
                <td><a href="/paquetes">
                  <i class="fas fa-utensils fa-4x"></i>
              </a> </td>
                <td> Bufe</td>
              </tr>
              <tr>
                <td><a href="/paquetes">
                  <i class="fas fa-coffee fa-4x"></i>
              </a></td>
                <td>Barra libre</td>
              </tr>
              <tr>
                <td><a href="/paquetes">
                  <i class="fas fa-clinic-medical fa-4x"></i>
              </a></td>
                <td>Servicios medicos</td>
              </tr>
              <tr>
                <td><a href="/paquetes">
                  <i class="fas fa-ship fa-4x"></i>
              </a></td>
                <td>Acesso al Yate</td>
              </tr>
              <tr>
                <td><a href="/paquetes">
                  <i class="fas fa-swimmer fa-4x"></i>
              </a></td>
                <td>Acceso a la picina</td>
              </tr>             
            </table>
          </div>
     
            <div id="c3">   
                <div class="card card-cascade narrower shadow ">
                    <!--Card content-->
                    <div class="card-body card-body-cascade text-center">
              <div class="carousel-item active">
                <img src="assets/img/serv2.jpg" class="img-hab d-block w-100" alt="...">
              </div>
            </div></div>
          </div>
          <h5 id = "mas">Este paquete no incluye el ingreso a mascotas</h5>
       </div>
      
  </div>
</div>
